* {
    margin: 0%;
    
}
body {
    background-color: white;
    color: black;
}
  
.dark-mode {
    background-color: rgb(35, 35, 35);
    color: white;
}

.about_me_p {
    margin: 1%;
    color: white;
}

.head{
    margin-top: 1%;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
}
.Switch_dark_Light {
    position: absolute;
    right: 0;
    padding: 6px;
    font-family: Helvetica;
    font-size: 16px;
}

.lable_pro {
    color: black;
    display: flex;
    justify-content: center;
}
.lable_pro_dark {
    display: flex;
    justify-content: center;
    color: white;
}

.project1 {
    box-shadow: 11px 10px 30px rgb(30, 30, 30);
    font-family: Helvetica;
    margin: 0 auto;
    margin-top: 10px;
    width: 50%;
    background-color: white;
    border: solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 250px;
    height: 250px;
}
.project1_dark {
    box-shadow: 11px 10px 30px rgb(30, 30, 30);
    font-family: Helvetica;
    margin: 0 auto;
    margin-top: 10px;
    width: 50%;
    background-color: rgb(30, 30, 30);
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    width: 250px;
    height: 250px;
}
.project_edit, .project_date {
    margin-top: 10px;
    background-color: white;
}
.project_edit_dark {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 12px ;
    color: white;
}
.project_date {
  float: left;
}
.project_date_dark {
    float: left;
    color: white;
}
#copyrights {
    margin-left: 10px;
    margin-bottom: 10px;
}
.project_save {
    margin-top: 11px;
    margin-left: 5px;
    margin-right: 130px;
    border: solid green;
    border-radius: 15px;
    background-color: green;
    color: white;
}
.project_save1 {
    margin-top: 11px;
    margin-left: 5px;
    margin-right: 100px;
    border: solid red;
    border-radius: 15px;
    background-color: red;
    color: white;
}
.project_save2 {
    margin-top: 11px;
    margin-right: 100px;
    border: solid rgb(56, 99, 255);
    border-radius: 15px;
    background-color: rgb(56, 99, 255);
    color: white;
    margin-left: 5px;
}
.project-des {
    background-color: white;
}
.project-des_dark {
    color: white;
}

.home_link {
    margin-right: 1%;
}
.email_link {
    font-size: 25px;
    margin-right: 1%;
}
a {
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.links {
    margin-top: 40px;
    
    display: flex;
    justify-content: center;


}
.github {
    margin-right: 15px;
}
.about_me_p {
    margin: 1%;
    color: black;
    font-family: Helvetica;
    font-size: 19px;
}

